.hello {
    text-align: center;
    margin: 20px;
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
  }
  
  /* .hello button {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 40px;
    min-width: 50px;
  } */

  .available-funds{
    font-size: initial;
    padding: 2%;
    color: antiquewhite;
  }

  .popup{
    font-size: initial;
  }

  .game-table{
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
  }

  .game-table ,th{
    border: 1px solid black;
  }
  .game-table ,td{
    border: 1px solid black;
  }

  .game-history-list {
    list-style-type: none;
  }